In [18]:
import pandas as pd

# Fiji

In [19]:
# Define file paths
file_paths = {
    'Labasa': '/home/561/lk5320/hk25-AusNode-ExtremePrecipitation/Data/Processed/Fiji/labasa_airport_daily.csv',
    'Lautoka': '/home/561/lk5320/hk25-AusNode-ExtremePrecipitation/Data/Processed/Fiji/lautoka_daily.csv',
    'Penang': '/home/561/lk5320/hk25-AusNode-ExtremePrecipitation/Data/Processed/Fiji/penang_daily.csv',
    'Savusavu': '/home/561/lk5320/hk25-AusNode-ExtremePrecipitation/Data/Processed/Fiji/savusavu_airport_daily.csv',
    'Suva': '/home/561/lk5320/hk25-AusNode-ExtremePrecipitation/Data/Processed/Fiji/suva_daily.csv'
}

In [21]:

# Date range
start_date = '2020-03-01'
end_date = '2021-02-28'

# Dictionary to store results
results = {}

# Loop over each file
for site, path in file_paths.items():
    # Read CSV
    df = pd.read_csv(path, parse_dates=['date'])
    
    # Set index to Date
    df.set_index('date', inplace=True)
    
    # Ensure rainfall is numeric
    df['daily_rainfall_mm'] = pd.to_numeric(df['daily_rainfall_mm'], errors='coerce')
    
    # Filter for desired date range
    df_filtered = df.loc[start_date:end_date]
    
    # Compute total rainfall
    total_rainfall = df_filtered['daily_rainfall_mm'].sum()
    
    # Store result
    results[site] = round(total_rainfall, 2)

# Convert results to DataFrame
rainfall_summary = pd.DataFrame.from_dict(results, orient='index', columns=['Total Rainfall (mm)'])

# Display table
print(rainfall_summary)

          Total Rainfall (mm)
Labasa                  861.4
Lautoka                2430.7
Penang                 3266.0
Savusavu               1072.3
Suva                   3676.6

# Sydney

In [28]:
# Define file paths
file_paths = {
    'norah_head': '/home/561/lk5320/hk25-AusNode-ExtremePrecipitation/Data/Processed/Sydney/norah_daily.csv',
    'richmond_raaf': '/home/561/lk5320/hk25-AusNode-ExtremePrecipitation/Data/Processed/Sydney/richmond_daily.csv',
    'badgery': '/home/561/lk5320/hk25-AusNode-ExtremePrecipitation/Data/Processed/Sydney/badgery_daily.csv',
    'sydney_airport': '/home/561/lk5320/hk25-AusNode-ExtremePrecipitation/Data/Processed/Sydney/sydney_daily.csv',
    'bankstown_airport': '/home/561/lk5320/hk25-AusNode-ExtremePrecipitation/Data/Processed/Sydney/bankstown_daily.csv'
}

In [31]:

# Date range
start_date = '2020-03-01'
end_date = '2021-02-28'

# Dictionary to store results
results = {}

# Loop over each file
for site, path in file_paths.items():
    # Read CSV
    df = pd.read_csv(path, parse_dates=['Time'])
    
    # Set index to Date
    df.set_index('Time', inplace=True)
    
    # Ensure rainfall is numeric
    df['Precipitation'] = pd.to_numeric(df['Precipitation'], errors='coerce')
    
    # Filter for desired date range
    df_filtered = df.loc[start_date:end_date]
    
    # Compute total rainfall
    total_rainfall = df_filtered['Precipitation'].sum()
    
    # Store result
    results[site] = round(total_rainfall, 2)

# Convert results to DataFrame
rainfall_summary = pd.DataFrame.from_dict(results, orient='index', columns=['Total Rainfall (mm)'])

# Display table
print(rainfall_summary)

                   Total Rainfall (mm)
norah_head                       773.4
richmond_raaf                   1330.0
badgery                          776.4
sydney_airport                   905.8
bankstown_airport                785.4